body {
    color: purple;
    font-family: "微軟正黑體","Times New Roman",Times, serif;
    background-image:url("https://i.imgur.com/7gDxms9.jpg");
    background-position: top center; 
    background-color: #111;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
    padding-left: 15em;}
h1{
    color: purple; 
    font-family: "Times New Roman",Times, Georgia,serif;}
/* The sidebar menu */
.sidenav {
    color: #5f5f5f;
    z-index: 1;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
/* When you mouse over the navigation links, change their color */
.sidenav ul li:hover , .sidenav ul li a:hover {
    background-color:rgb(34, 30, 30);
    color: #f1f1f1;
}
.sidenav img{
    width: 160px;
    position: fixed;
    bottom: 0;
}
/* ---------- 大小與定位 ---------- */
.sidenav ul {
    /*取消ul符號樣式*/
    list-style-type:none;
	/* 重設ul邊界與留白為零 */
	margin:0;
	padding:0;
}
/* ---------- 隱藏與顯示階層 ---------- */
.sidenav ul li ul {
	/* 預先隱藏第二層 */
	visibility:hidden;
}
.sidenav ul li:hover ul {
	/* 觸動第一層時，顯示第二層 */
    visibility:visible;
}