body {
    color: purple;
    font-family: "微軟正黑體","Times New Roman",Times, serif;
    background-image:url("https://i.imgur.com/7gDxms9.jpg");
    background-position: top center; 
    background-color: #111;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
    padding-left: 160px;/*for side bar*/
    overflow:scroll;
}
/* The sidebar menu */
.sidenav {
    color: #5f5f5f;
    background-color: #111; /* Black */
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 0; /* Stay at the top */
    left: 0;/* Stay at the left */
    padding-top: 20px;
}
/* The navigation menu links */
.sidenav a {
    color: #818181;
    font-size: 25px;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    display: block;
}
/* When you mouse over the navigation links, change their color */
.sidenav ul li:hover , .sidenav ul li a:hover {
    color: #f1f1f1;
    background-color:rgb(34, 30, 30);
}
.sidenav img{
    bottom:0;
    width: inherit;
}
.sidenav ul {
    /*取消ul符號樣式*/
    list-style-type:none;
	margin:0;
	padding:0;
}
.sidenav ul li ul {
	visibility:hidden;/* 預先隱藏第二層 */
}
.sidenav ul li:hover ul {
    visibility:visible;/* 觸動第一層時，顯示第二層 */
}
/*upper menu*/
.upper{
    background-color:#0f384c;
    width: 100%;
    padding: 10px;
}
.title{
	font-size:50px;
	font-weight:bold;
	color:#FBC654;
}

